certifi==2024.2.2
charset-normalizer==3.3.2
filelock==3.13.3
fsspec==2024.3.1+computecanada
huggingface_hub==0.22.1+computecanada
idna==3.6
Jinja2==3.1.3+computecanada
MarkupSafe==2.1.3+computecanada
mpmath==1.3.0+computecanada
networkx==3.2.1+computecanada
numpy==1.25.2+computecanada
packaging==24.0
pandas==2.1.1+computecanada
Pillow==10.1.0+computecanada
Pillow_SIMD==9.0.0.post1+computecanada
python_dateutil==2.9.0.post0+computecanada
pytz==2024.1+computecanada
PyYAML==6.0.1+computecanada
regex==2023.8.8+computecanada
requests==2.31.0+computecanada
safetensors==0.4.1+computecanada
six==1.16.0+computecanada
sympy==1.12+computecanada
tokenizers==0.15.0+computecanada
torch==2.0.1+computecanada
torchvision==0.15.2+computecanada
tqdm==4.66.2+computecanada
transformers==4.39.1+computecanada
typing_extensions==4.10.0+computecanada
tzdata==2024.1+computecanada
urllib3==2.2.1
