certifi
charset-normalizer
filelock
fsspec
huggingface_hub
idna
Jinja2
MarkupSafe
mpmath
networkx
numpy
packaging
pandas
Pillow
Pillow_SIMD
python_dateutil
pytz
PyYAML
regex
requests
safetensors
six
sympy
tokenizers
torch
torchvision
tqdm
transformers
typing_extensions
tzdata
urllib3